body {
    padding: 0px;
    font-family: 'PT Sans Narrow', 'Source Han Sans TC', 'Open Sans Han TWHK', Roboto,
        'Noto Sans CJK TC', 'Noto Sans T Chinese', 'Source Han Sans TC',
        '黑體-繁', 'Heiti TC', '蘋果儷中黑', 'Apple LiGothic Medium',
        '微軟雅黑', 'Microsoft YaHei ', '微軟正黑體', 'Microsoft JhengHei',
        '文泉驛微米黑', 'WenQuanYi Micro Hei', '文泉驛正黑',
        'Droid Sans', 'Droid Sans Fallback',
        sans-serif;
    background: url('bg-grid.png') repeat scroll 0% 0% #151924;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    font-size: 16px;
    font-weight: 300;
}

table {
    border: 0;
}

h1, h2, h3 {
    color: #fff;
}

h1 {
    font-weight: 700;
    font-size: 1.8em;
}

h2 {
    font-weight: 600;
    font-size: 1.6em;
}

h3 {
    font-weight: 500;
    font-size: 1.4em;
}

p {
    color: #eee;
    text-align: justify;
    text-align-last: justify;
}

a {
    color: #99e;
}

.small-text {
    font-size: 0.9em;
}

.big-text {
    font-size: 1.3em;
}

#wrapper {
    padding: 0;
    height:auto;
    max-width: 760px;
    margin: 0 auto;
}
#bannerLogo {
    text-align:center;
    height:80px;
    margin-top: 60px;
}
#footer {
    height:200px;
}

.bannerBlock img {
    width: 100%;
}
.bannerTitle {
    position: absolute;
    bottom: -20px; left: 2px;
    padding-left: 32px;
    opacity: 0.8;
}
.block {
    overflow: hidden;
    padding: 18px 15px;
}
.textContent {
    position: relative;
    display: inline;
    overflow: hidden;
    height:auto;
    padding-left: 1px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.sponsor-block {
    position: relative;
    overflow: hidden;
    height:auto;
    padding-left: 24px;
    padding-right: 48px;
    padding-bottom: 32px;
    padding-top: 18px;
}
.section-title {
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.slashBlock {
    display: inline-block;
    background: url('slash.png');
    height: 24px;
    width: 24px;
}
.slashTitle {
    color:  #BA5347;
    margin-left: 10px;
    margin-right: 10px;
}
.footerTitleContent {
    padding-top: 20px;
    padding-left:40px;
}
.blockSmallTitle {
    color:  rgb(255, 255, 255);
}
.peopleContentWrapper {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    clear: both;
}
.peopleContent {
    position: relative;
    overflow: hidden;
    height:auto;
    padding: 18px 10px 32px;
}
.peopleImage {
    margin-right: 12px;
}
.clearfix {
    clear: both;
    display: inline-block;
}
